@import './shared/colors.scss';

.attendance-wrapper {
  width: 100%;
  padding: 10;

  .view-toggler {
    width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: row;

    .item {
      width: 50%;
      height: 40px;
      background-color: $main-color;
      color: $text-color;
      text-align: center;
      line-height: 40px;
    }

    .active {
      background-color: darken($main-color, 10);
    }
  }

  .data {
    padding: 1em 4em;
  }
  .att-header{
    width: 100%;
    background-color: $text-color;
    padding: 1em 4em;
    color: $main-color;
    
  }
  .att-controls{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:.2em;
    margin-top: .5em;
    .att-btn{
      .btn{
        padding: 6px 12px !important;
      }
    }
    .att-filters{
      display: flex;
     .filter-data{
       width: 100px !important;
       height: 35px;
       &:first-child{
         margin-right: 10px !important;
       }
     }
    }
  }
}